@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root {
	--mainColor: black;
	--mainColorLight: #5767aa;
	--secondaryColor: #ddb813;
	--textColor: #eee;
}

html{
    height: 100%;
}

body{
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

