.recherche-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 25px;
    min-height: 100vh;
}

.bar-recherche {
    max-width: 900px;
    /* height: 50px; */
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--mainColor);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

input#recherche{
    flex: 1;
    margin: 10px;
    padding: 10px;
    /* min-width: 300px; */
    max-width: 500px;
    height: 100%;
    border : 1px solid black;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: whitesmoke;
    border-radius: 5px;
}

.inputs-date {
    display: flex;
    align-items: center;
}

input#date_de, input#date_a{
    margin: 10px;
    padding: 10px;
    /* min-width: 150px; */
    height: 100%;
    border : 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.btn-recherche {
    margin: 10px;
    padding: 10px;
    /* min-width: 150px; */
    height: 100%;
    border : 1px solid black;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 100%;
    transition:cubic-bezier(1, 0, 0, 1) 0.5s;
}

.btn-recherche:hover {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    cursor: pointer;
    transition: 0.3s;
}

.btn-recherche:active {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    transition: 0.3s;
}

@media (max-width: 1000px) {
    .bar-recherche {
        border-radius: 20px;
        transition:cubic-bezier(1, 0, 0, 1) 0.5s;
        width: 90%;
    }
}

@media (max-width: 600px) {
    input#recherche {
        /* flex: 1 0 100%; */
        margin-bottom: 10px;
    }
    
    .inputs-date{
        flex: 1 0 100%;
        width: 100%;
        justify-content: center;
    }

    .bar-recherche {
        width: 100%;
        /* overflow: scroll; */
    }
}

@media (max-width: 390px) {
    .inputs-date {
        flex-direction: column;
    }

    input#date_de, input#date_a{
        margin: 10px 0;
        flex: 1 0 100%;
    }

    /* Mettre une background noir sur tous les elements separement en les placant en colonne */
    .bar-recherche {
        background-color: white;
    }

    input#recherche {
        background-color: var(--mainColor);
        color: white;
        /* margin: 0; */
    }

    input#date_de, input#date_a{
        background-color: var(--mainColor);
        color: white;
        width: 70%;
        margin: 10px;
    }

    .btn-recherche {
        background-color: var(--secondaryColor);
        color: var(--textColor);
        margin: 10px;
        width: 25%;
        border-radius: 10px;
    }
}